name: Pollapo - Build macOS Binary
on:
  release:
    types: [created]

jobs:
  build-binary:
    runs-on: macos-latest
    defaults:
      run:
        working-directory: cli/pollapo
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - name: Build
        run: deno compile -A --unstable --output pollapo-macos entrypoint.ts
      - name: Upload pollapo binary
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: cli/pollapo/pollapo-macos

  formula:
    name: Update Homebrew formula
    runs-on: ubuntu-latest
    steps:
      - name: Update the Homebrew formula with latest release
        uses: NSHipster/update-homebrew-formula-action@main
        with:
          repository: riiid/homebrew-riiid
          tap: riiid/riiid
          formula: Formula/pbkit.rb
        env:
          GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.PAT }}
