name: Pollapo - Build Windows Installer
on:
  release:
    types: [created]

jobs:
  build-exe:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: cli/pollapo
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - name: Build
        run: deno compile -A --unstable --output pollapo.exe entrypoint.ts
      - name: Upload pollapo.exe
        uses: actions/upload-artifact@v2
        with:
          name: pollapo.exe
          path: cli/pollapo/pollapo.exe
  build-msi:
    runs-on: windows-latest
    env:
      TAG: ${{ github.event.release.tag_name }}
    needs: [build-exe]
    defaults:
      run:
        working-directory: cli/pollapo/windows-installer
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Version by tag
        run: .\scripts\change-version.ps1
      - name: Setup devenv
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64
      - name: Download pollapo.exe
        uses: actions/download-artifact@v2
        with:
          name: pollapo.exe
          path: cli/pollapo/windows-installer
      - name: Build msi
        run:  "devenv pollapo-windows-installer.sln /build Release &; while(!(Test-Path .\\Release\\pollapo-windows-installer.msi)) { Start-Sleep 10; dir .\\Release }"
      - name: Upload msi
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: cli/pollapo/windows-installer/Release/pollapo-windows-installer.msi
